.bookingFailurePage__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 5rem;
}

.bookingFailurePage__text {
  font-size: 24px;
  font-weight: 700;
  color: #ec315a;
}
