.confirmPage__wrapper,
.noConfirmation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 100vh;
  gap: 1rem;
}

/* --- SUBTITLE WITH LINES --- */
.confirmPage__subtitle {
  font-family: var(--font-title);
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.confirmPage__subtitle::before,
.confirmPage__subtitle::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #441d81;
}

.confirmPage__subtitle span {
  padding: 0 10px;
  font-size: 24px;
  background: #fff4f1;
}

.confirmPage__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.confirmPage__bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.noConfirmation__text {
  font-size: 45px;
  font-family: var(--font-title);
  color: #ec315a;
  text-align: center;
  margin: 5rem 0 3rem 0;
}

.noConfirmation__logo {
  margin-top: 5rem;
  height: 200px;
}
