.displayField__wrapper {
  display: flex;
  width: 100%;
  height: 45px;
}

.displayField__group {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid #441d81;
  border-radius: 4px;
}

.displayField__labelText {
  position: absolute;
  top: -8px;
  left: 12px;
  padding: 0 6px;
  font-size: 12px;
  color: #441d81;
  background: #fff4f1;
  z-index: 2;
}

.displayField__inputText {
  width: 100%;
  padding: 0.5rem 0 0 0.75rem;
  font-size: 24px;
  color: #222;
  box-sizing: border-box;
  background: transparent;
}

.displayField__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem 0 1rem;
  border: 1px solid #ec315a;
  color: #ec315a;
  margin-top: 4rem;
}

.displayField__label-total {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
}

.displayField__total-sum {
  font-size: 24px;
}
