.loadingPage__wrapper {
  background-color: #fff4f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
  width: 100%;
}

.loadingPage__logo {
  height: 196px;
}

.loadingPage__subtitle {
  font-size: 20px;
  letter-spacing: 43%;
  font-weight: 400;
}
