button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ec315a;
  color: #ffffff;
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  font-style: bold;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #c72a4b;
}
